/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 2.5em;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    color: #4CAF50;
}

.project {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

#contact {
    background-color: #f4f4f4;
    text-align: center;
}

#contact p {
    font-size: 1.2em;
}
#banner {
    position: relative;
    text-align: center;
    color: white;
}

#banner img {
    width: 100%;
    height: auto;
    max-height: 400px; 
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.banner-text h1 {
    font-size: 36px;
    margin: 0;
}

.banner-text p {
    font-size: 18px;
    margin: 5px 0 0;
}